<div class="container hero d-flex justify-content-center align-items-center">
  <div class="left">
    <h1>
        Explore The Largest <span class="nft">NFT</span> Marketplaces
    </h1>
    <p>Buy, Sell & Trade Cryptocurrency Easily and Securely</p>
    <button class="shared-btn">Connect Wallet</button>
    <button class="gradient-bordered-btn">Learn More</button>
  </div>
  <div class="right">
    <img width="650px" height="650px" src="../../../assets/images/hero.svg" alt="">
  </div>
</div>
