.hero-btn {
    margin-right: 20px;
}

.hero::before {
    background: url(../../../assets/images/looper.svg) no-repeat center;
    background-size: contain;
    content: "";
    display: block;
    position: absolute;
    left: -116px;
    top: 0;
    width: 550px;
    height: 606px;
    background-size: contain;
    z-index: -1;
    transform: rotate(180deg);
}