<div class="container hero d-flex justify-content-center align-items-center">
  <div class="left">
    <h1>
        Explore The Largest <span class="styled-span">NFT</span> Marketplaces
    </h1>
    <p class="text">Buy, Sell & Trade Cryptocurrency Easily and Securely</p>
    <button class="shared-btn hero-btn">Connect Wallet</button>
    <button class="gradient-bordered-btn">Learn More</button>
  </div>
  <div class="right">
    <img loading="eager" width="650px" height="650px" [src]="env.imagesPath+'hero.svg'" alt="">
  </div>
</div>
