.hero {
    p {
        color: #A5A3A8;
        font-size: 24px;
    }
    
    .nft {
        background: linear-gradient(90deg, hsla(255, 68%, 32%, 1) 0%, hsla(6, 100%, 66%, 1) 100%);
        -webkit-background-clip: text; 
        -moz-background-clip: text; 
        background-clip: text;
        color: transparent; 
    }
}