.container {
    gap: 30px;
    position: relative;
}

.section1::before,.section3::before {
    background: url(../../../../assets/images/looper.svg) no-repeat center;
    background-size: contain;
    content: "";
    display: block;
    position: absolute;
    left: -210px;
    top: -39px;
    width: 550px;
    height: 606px;
    background-size: contain;
    z-index: -1;
    transform: rotate(-193deg);
    @media (max-width: 768px) {
        display: none;
      }
}

.section2::before {
    background: url(../../../../assets/images/looper.svg) no-repeat center;
    background-size: contain;
    content: "";
    display: block;
    position: absolute;
    right: -200px;
    top: -39px;
    width: 550px;
    height: 606px;
    background-size: contain;
    z-index: -1;
    transform: rotate(360deg);
    @media (max-width: 768px) {
        display: none;
      }
}

.div1 {
    @media (max-width: 768px) {
        display: none;
      }
}


.div2 {
    @media (max-width: 768px) {
        text-align: center;
      }
}