<div class="container py-3">
    <div class="row align-items-center">
        <div class="col-auto">
            <img class="logo" [src]="environment.imagesPath + 'logo_crypto.svg'" alt="logo">        </div>
        <div class="col text-center">
            <ul class="nav-items d-flex justify-content-center">
                <li class="item"><a href="#">Home</a></li>
                <li class="item"><a href="#">NFT Market</a></li>
                <li class="item"><a href="#">Shop</a></li>
                <li class="item"><a href="#">About Us</a></li>
            </ul>
        </div>
        <div class="col-auto">
            <button class="shared-btn">Explore More</button>
        </div>
    </div>
</div>
