<div class="container features mt-5 text-center">
    <h2>Secure & Private</h2>
    <p class="pb-md-5 pb-0">24/7 Dedicated Support Team</p>

    <div class="features-container mt-5">
            <app-feature-box additionalClass="crypto-box" [featureData]="this.featuresList[0]"></app-feature-box>
            <app-feature-box additionalClass="fast-transaction-box" [featureData]="this.featuresList[1]"></app-feature-box>
            <app-feature-box additionalClass="secure-box" [featureData]="this.featuresList[2]"></app-feature-box>
    </div>
</div>