<div class="container-fluid footer mt-5">
  <div class="container d-flex gap-5">
    <div class="d-flex flex-column gap-4 py-5">
      <div class="d-flex flex-column gap-3">
        <img
          width="70px"
          [src]="environment.imagesPath + 'logo_crypto.svg'"
          alt=""
        />
        <p class="text">
          Cryptocurrency has revolutionized the world of finance and digital
          transactions, providing individuals with a decentralized and secure
          way to store, transfer, and manage their wealth
        </p>
      </div>
      <ul class="nav-footer-items d-flex gap-3">
        <li>About</li>
        <li>Contact</li>
        <li>Privacy</li>
        <li>Terms</li>
        <li>Sitemap</li>
      </ul>
      
      <ul class="nav-footer-items d-flex gap-3">
        <li>&copy; All Rights Reserved</li>
      </ul>
    </div>

    <div class="container d-flex flex-column gap-4 py-5">
      <div class="d-flex flex-column gap-3">
        <p class="Subscribe">Subscribe</p>
        <p class="text">
          Stay up-to-date on discounts, offers and events. Unsubscribe at any
          time.
        </p>
      </div>
      <div>
        <div class="contact-container flex-column d-flex gap-4">
          <div class="contact-item d-flex align-items-center gap-2">
            <form action="">
              <input placeholder="Enter Your Email" type="text" name="email" id="email" />
              <button>Submit</button>
            </form>
          </div>
          <div class="socialmedia d-flex gap-2">
            <img
              [src]="environment.imagesPath + 'socialmedia.svg'"
              alt="social media"
            />
            <img
              [src]="environment.imagesPath + 'socialmedia.svg'"
              alt="social media"
            />
            <img
              [src]="environment.imagesPath + 'socialmedia.svg'"
              alt="social media"
            />
            <img
              [src]="environment.imagesPath + 'socialmedia.svg'"
              alt="social media"
            />
            <img
              [src]="environment.imagesPath + 'socialmedia.svg'"
              alt="social media"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
