<app-section [additionalClasses]="'flex-row-reverse looper section1'" [sectionData]="homeSectionsData[0]">
    <h1 title>Trade with confidence with <span class="styled-span">Our platform</span>  and easy to use.</h1>
</app-section>

<app-section [additionalClasses]="'looper section2'" [sectionData]="homeSectionsData[1]">
    <h1 title><span class="styled-span">24/7</span> access to customer support</h1>
</app-section>


<app-section [additionalClasses]="'flex-row-reverse looper section3'" [sectionData]="homeSectionsData[2]">
    <h1 title>Our platform offers levels of <span class="styled-span">security</span> to protect your funds.</h1>
</app-section>


<div class="container d-flex flex-column justify-content-center align-items-center mt-5">
    <h1 class="text-center mb-4">Use <span class="styled-span">Money</span> in your wallet</h1>
    <p class="cryptography text text-center mb-4">Cryptocurrency is a digital form of currency that utilizes cryptography to secure transactions, control the creation of new units, and verify the transfer of assets.</p>
    <app-crypto-currencies-list></app-crypto-currencies-list>
</div>